<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-md-9">
                <h1>Página de Laboratorio</h1>
                <p>Esta es la página de laboratorio.</p>
            </div>
        </div>
    </div>
</body>
</html>
