<style>
/* Basic sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
</style>

<div class="sidebar">
  <a href="/dashboard">Dashboard</a>
  <a href="/compra">Compra</a>
  <a href="/inventario">Inventario</a>
  <a href="/venta">Venta</a>
  <a href="/file">File</a>
  <a href="/sandbox">Sandbox</a>
</div>
